{{ ansible_managed | comment }}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ public_domain_2 }};

    ssl_certificate /etc/letsencrypt/live/{{ public_domain_2 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ public_domain_2 }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ public_domain_2 }}/chain.pem;
        
    include ssl.conf;

    return 301 https://www.{{ public_domain_2 }}$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name www.{{ public_domain_2 }};
    set $upstream 127.0.0.1:2368;

    access_log /var/log/nginx/blog.access.log combined;
    error_log /var/log/nginx/blog.com.error.log warn;

    ssl_certificate /etc/letsencrypt/live/{{ public_domain_2 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ public_domain_2 }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ public_domain_2 }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name share.{{ public_domain_2 }};
    set $upstream 127.0.0.1:53842;

    access_log /var/log/nginx/gokapi.access.log combined;
    error_log /var/log/nginx/gokai.error.log warn;

    ssl_certificate /etc/letsencrypt/live/{{ public_domain_2 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ public_domain_2 }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ public_domain_2 }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name ntfy.{{ public_domain_1 }};
    set $upstream 127.0.0.1:8088;

    access_log /var/log/nginx/ntfy.access.log combined;
    error_log /var/log/nginx/ntfy.error.log warn;

    ssl_certificate /etc/letsencrypt/live/{{ public_domain_1 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ public_domain_1 }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ public_domain_1 }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name freshrss.{{ public_domain_1 }};
    set $upstream 127.0.0.1:8080;

    access_log /var/log/nginx/freshrss.access.log combined;
    error_log /var/log/nginx/freshrss.error.log warn;

    ssl_certificate /etc/letsencrypt/live/{{ public_domain_1 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ public_domain_1 }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ public_domain_1 }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}