[Unit]
Description=Run apt metrics collection every "{{ node_exporter_collector_interval }}"

[Timer]
OnBootSec=0
OnUnitActiveSec="{{ node_exporter_collector_interval }}"

[Install]
WantedBy=timers.target
