# {{ ansible_managed }}
---
http:
  routers:
    router-proxmox:
      entryPoints:
        - websecure
      rule: "Host(`{{ ansible_hostname }}.{{ local_domain }}`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls:
        certResolver: cloudflare
      service: service-proxmox
    
  services:
    service-proxmox:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "https://127.0.0.1:8006"

  middlewares: 
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"
        - "100.64.0.0/10"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers