[submodule "roles/glennbrown.traefik"]
	path = roles/glennbrown.traefik
	url = git@github.com:glennbrown/ansible-role-traefik.git
[submodule "roles/glennbrown.firewall"]
	path = roles/glennbrown.firewall
	url = git@github.com:glennbrown/ansible-role-firewall.git
[submodule "roles/glennbrown.proxmox-nag-removal"]
	path = roles/glennbrown.proxmox-nag-removal
	url = git@github.com:glennbrown/ansible-role-proxmox-nag-removal.git
