[submodule "roles/glennbrown.traefik"]
	path = roles/glennbrown.traefik
	url = git@github.com:glennbrown/ansible-role-traefik.git
[submodule "roles/glennbrown.firewall"]
	path = roles/glennbrown.firewall
	url = git@github.com:glennbrown/ansible-role-firewall.git
[submodule "roles/glennbrown.oracle-cloud-agent"]
	path = roles/glennbrown.oracle-cloud-agent
	url = git@github.com:glennbrown/ansible-role-oracle-cloud-agent.git
[submodule "roles/glennbrown.tailscale"]
	path = roles/glennbrown.tailscale
	url = git@github.com:glennbrown/ansible-role-tailscale.git
[submodule "roles/glennbrown.macos"]
	path = roles/glennbrown.macos
	url = git@github.com:glennbrown/ansible-role-macos.git
[submodule "roles/glennbrown.certbot"]
	path = roles/glennbrown.certbot
	url = git@github.com:glennbrown/ansible-role-certbot.git
[submodule "roles/glennbrown.proxmox"]
	path = roles/glennbrown.proxmox
	url = git@github.com:glennbrown/ansible-role-proxmox.git
[submodule "roles/glennbrown.proxmox-nag-removal"]
	path = roles/glennbrown.proxmox-nag-removal
	url = git@github.com:glennbrown/ansible-role-proxmox-nag-removal.git
[submodule "roles/glennbrown.mounts"]
	path = roles/glennbrown.mounts
	url = git@github.com:glennbrown/ansible-role-drivemounts.git
