# Ansible
.ansible
*.retry
testing*
galaxy/roles
galaxy/collections

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
[Dd]esktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code
.vscode/settings.json
.history/
