[Unit]
Description=Run smart metrics collection every {{ node_exporter_collector_interval }}
ConditionPathExists=/usr/sbin/smartctl
ConditionPathExistsGlob=|/dev/sd*
ConditionPathExistsGlob=|/dev/hd*
# TODO: Figure out if NVMe returns usable metrics through smartmon.sh.
#ConditionPathExistsGlob=|/dev/nvme*

[Timer]
OnBootSec=0
OnUnitActiveSec="{{ node_exporter_collector_interval }}"

[Install]
WantedBy=timers.target
