# {{ ansible_managed }}

deb {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }} main contrib non-free
deb-src {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }} main contrib non-free

deb {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-updates main contrib non-free
deb-src {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-updates main contrib non-free

{% if debian_backports_enable %}
deb {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-backports main contrib non-free
deb-src {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-backports main contrib non-free
{% else %}
#deb {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-backports main contrib non-free
#deb-src {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-backports main contrib non-free
{% endif %}

deb http://security.debian.org {{ ansible_distribution_release }}-security main contrib non-free
deb-src http://security.debian.org {{ ansible_distribution_release }}-security main contrib non-free
