# {{ ansible_managed }}
ADMIN_EMAIL={{ pihole_admin_email }}
WEBTHEME={{ pihole_webtheme }}
PIHOLE_INTERFACE={{ pihole_pihole_interface }}
QUERY_LOGGING={{ pihole_query_logging | bool | lower  }}
INSTALL_WEB_SERVER={{ pihole_install_web_server | bool | lower }}
INSTALL_WEB_INTERFACE={{ pihole_install_web_interface | bool | lower }}
LIGHTTPD_ENABLED={{ pihole_lighttpd_enabled | bool | lower }}
CACHE_SIZE={{ pihole_cache_size }}
DNS_FQDN_REQUIRED={{ pihole_dns_fqdn_required | bool | lower }}
DNS_BOGUS_PRIV={{ pihole_dns_fqdn_required | bool | lower }}
DNSMASQ_LISTENING={{ pihole_dnsmasq_listening }}
WEBPASSWORD={{ pihole_webpassword | hash("sha256") | hash("sha256") | default("") }}
BLOCKING_ENABLED={{ pihole_blocking_enabled | bool | lower }}
DNSSEC={{ pihole_dnssec | bool | lower }}
REV_SERVER={{ pihole_rev_server | bool | lower }}
REV_SERVER_CIDR={{ pihole_rev_server_cidr }}
REV_SERVER_TARGET={{ pihole_rev_server_target }}
REV_SERVER_DOMAIN={{ pihole_rev_server_domain }}
PIHOLE_DNS_1={{ pihole_pihole_dns1 }}
PIHOLE_DNS_2={{ pihole_pihole_dns2 }}
DHCP_ACTIVE={{ pihole_dhcp_active | bool | lower }}
DHCP_START={{ pihole_dhcp_start }}
DHCP_END={{ pihole_dhcp_end }}
DHCP_ROUTER={{ pihole_dhcp_router }}
DHCP_LEASETIME=24
PIHOLE_DOMAIN={{ pihole_pihole_domain }}
DHCP_IPv6={{ pihole_dhcp_ipv6 | bool | lower }}
DHCP_rapid_commit={{ pihole_dhcp_rapid_commit | bool | lower }}