# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

{% if libvirt_network_interface is defined %}
# Network interfaces
iface {{ libvirt_network_interface }} inet manual

# Bridges
auto {{ libvirt_bridge_name }}
iface {{ libvirt_bridge_name }} inet static
        address {{ libvirt_bridge_address }}/{{ libvirt_bridge_prefix }}
        gateway {{ libvirt_bridge_gateway }}
        bridge-ports {{ libvirt_network_interface }}
        bridge-stp off
        bridge-fd 0
{% endif %}
