{{ ansible_managed | comment }}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name sonarr.{{ local_domain }};
    set $upstream 192.168.10.11:8989;

    ssl_certificate /etc/letsencrypt/live/{{ local_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ local_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ local_domain }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name radarr.{{ local_domain }};
    set $upstream 192.168.10.11:7878;

    ssl_certificate /etc/letsencrypt/live/{{ local_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ local_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ local_domain }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name prowlarr.{{ local_domain }};
    set $upstream 192.168.10.11:9696;

    ssl_certificate /etc/letsencrypt/live/{{ local_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ local_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ local_domain }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name tautulli.{{ local_domain }};
    set $upstream 192.168.10.11:8181;

    ssl_certificate /etc/letsencrypt/live/{{ local_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ local_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ local_domain }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name sabnzb.{{ local_domain }};
    set $upstream 192.168.10.11:8080;

    ssl_certificate /etc/letsencrypt/live/{{ local_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ local_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ local_domain }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name qbittorrent.{{ local_domain }};
    set $upstream 192.168.10.11:8088;

    ssl_certificate /etc/letsencrypt/live/{{ local_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ local_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ local_domain }}/chain.pem;
        
    include ssl.conf;

    location / {
        proxy_pass http://$upstream;
    }
}