deb {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }} {{ debian_components }}
{% if debian_source_enable is defined and debian_source_enable | bool %}
deb-src {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }} {{ debian_components }}
{% endif %}

deb {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-updates {{ debian_components }}
{% if debian_source_enable is defined and debian_source_enable | bool %}
deb-src {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-updates {{ debian_components }}
{% endif %}

{% if debian_backports_enable is defined and debian_backports_enable | bool %}
deb {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-backports {{ debian_components }}
{% if debian_source_enable is defined and debian_source_enable | bool %}
deb-src {{ debian_apt_mirror }}/debian {{ ansible_distribution_release }}-backports {{ debian_components }}
{% endif %}
{% endif %}

deb http://security.debian.org {{ ansible_distribution_release }}-security {{ debian_components }}
{% if debian_source_enable is defined and debian_source_enable | bool %}
deb-src http://security.debian.org {{ ansible_distribution_release }}-security {{ debian_components }}
{% endif %}