deb {{ ubuntu_apt_mirror }}/ubuntu {{ ansible_distribution_release }} main restricted universe multiverse
{% if ubuntu_source_enable is defined and ubuntu_source_enable | bool %}
deb-src {{ ubuntu_apt_mirror }}/ubuntu {{ ansible_distribution_release }} main restricted universe multiverse
{% endif %}

deb {{ ubuntu_apt_mirror }}/ubuntu {{ ansible_distribution_release }}-updates main restricted universe multiverse
{% if ubuntu_source_enable is defined and ubuntu_source_enable | bool %}
deb-src {{ ubuntu_apt_mirror }}/ubuntu {{ ansible_distribution_release }}-updates main restricted universe multiverse
{% endif %}

{% if ubuntu_backports_enable is defined and ubuntu_backports_enable | bool %}
deb {{ ubuntu_apt_mirror }}/ubuntu {{ ansible_distribution_release }}-backports main restricted universe multiverse
{% if ubuntu_source_enable is defined and ubuntu_source_enable | bool %}
deb-src {{ ubuntu_apt_mirror }}/ubuntu {{ ansible_distribution_release }}-backports main restricted universe multiverse
{% endif %}
{% endif %}

deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted universe multiverse
{% if ubuntu_source_enable is defined and ubuntu_source_enable | bool %}
deb-src http://security.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
{% endif %}