{% if ubuntu_source_enable is defined and ubuntu_source_enable | bool %}
Types: deb deb-src
{% else %}
Types: deb
{% endif %}
URIs: {{ ubuntu_apt_mirror }}/ubuntu/
{% if ubuntu_backports_enable is defined and ubuntu_backports_enable | bool %}
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates {{ ansible_distribution_release }}-backports
{% else %}
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates
{% endif %}
Components: main restricted universe multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

{% if ubuntu_source_enable is defined and ubuntu_source_enable | bool %}
Types: deb deb-src
{% else %}
Types: deb
{% endif %}
URIs: http://security.ubuntu.com/ubuntu/
Suites: {{ ansible_distribution_release }}-security
Components: main restricted universe multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg