// {{ ansible_managed }}

{% for module in znc_global_modules %}
LoadModules = {{ module }}
{% endfor %}
MaxBufferSize = {{ znc_max_buffer_size }}
SSLCertFile = {{ znc_ssl_certfile }}
Version = {{ znc_version }}

{% for listener in znc_listener %}
<Listener {{ listener.name }}>
    IPv4 = {{ listener.ipv4 | bool }}
    IPv6 = {{ listener.ipv6 | bool }}
    Port = {{ listener.port }}
    SSL = {{ listener.ssl | bool }}
    AllowIRC = {{ listener.irc | bool }}
    AllowWeb = {{ listener.web | bool }}
</Listener>
{% endfor %}


{% for user in znc_users %}
<User {{ user.name }}>
    Allow       = {{ user.allow | default("*") }}
    Admin       = {{ user.admin | default(false) | bool }}
    Nick        = {{ user.nick }}
    AltNick     = {{ user.altnick }}
    Ident       = {{ user.ident | default(user.nick) }}
    RealName    = {{ user.realname }}
    Buffer      = {{ user.buffer | default(znc_max_buffer_size) }}
    ChanModes   = {{ user.chanmodes | default("+stn") }}
    MultiClients = {{ user.multiclients | default(false) | bool }}
    AutoClearChanBuffer = {{ user.autoclearchanbuffer | default(true) | bool }}
    AutoClearQueryBuffer = {{ user.autoclearquerybuffer | default(true) | bool }}
{% if user.modules is defined %}
{% for module in user.modules %}
    LoadModule   = {{ module }}
{% endfor %}
{% endif %}
{% if user.networks is defined %}
{% for network_name, network in user.networks.items() %}

    <Network {{ network_name }}>
{% if network.modules is defined %}
{% for module in network.modules %}
        LoadModule = {{ module }}
{% endfor %}
{% endif %}
        Server     = {{ network.server }} {{ "+" if network.ssl else "" }}{{ network.port }} {{ network.password | default("") }}
{% if network.channels is defined %}
{% for channel in network.channels %}
    
        <Chan {{ channel }}>
        </Chan>
{% endfor %}
{% endif %}
    </Network>
{% endfor %}
{% endif %}

    <Pass password>
        Hash    = {{ user.password.hash }}
        Method  = {{ user.password.method }}
        Salt    = {{ user.password.salt }}
    </Pass>
</User>
{% endfor %}
    