{{ ansible_managed | comment }}
---
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443
{% if traefik_acme %}
    http:
      tls: 
        certresolver: default
        domains:
{% for domain in traefik_domains %}
          - main: "{{ domain.name }}"
            sans: "{{ domain.sans }}"
{% endfor %}
{% endif %}

ping: {}

providers:
{% if traefik_docker_provider %}
  docker:
    endpoint: unix:///var/run/docker.sock
    watch: true
    exposedByDefault: {{ traefik_exposed_by_default | lower }}
{% endif %}
{% if traefik_file_providers %}
  file:
    directory: /etc/traefik/rules
    watch: true
{% endif %}

{% if traefik_enable_dashboard %}
api:
  dashboard: true
  debug: true
{% else %}
api:
  dashboard: false
  debug: false
{% endif %}

{% if traefik_debug_log %}
log:
  level: debug
{% else %}
log:
  level: info
{% endif %}

{% if traefik_acme %}
certificatesResolvers:
  default:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - 1.1.1.1:53
          - 1.0.0.1:53
{% endif %}

{% if traefik_insecure_transport %}
serversTransport:
  insecureSkipVerify: true
{% endif %}
 