{% if __nginx_user is defined and __nginx_user %}
user {{ __nginx_user }};
{% endif %}

pid {{ nginx_pidfile }};
error_log {{ nginx_error_log }};

{% block worker %}
worker_processes  {{ nginx_worker_processes }};
{% endblock %}

{% if nginx_extra_conf_options %}
{{ nginx_extra_conf_options }}
{% endif %}

pcre_jit {{ nginx_pcre_jit }};

events {
    worker_connections  {{ nginx_worker_connections }};
    multi_accept {{ nginx_multi_accept }};
}

http {
    {% block http_begin %}{% endblock %}

{% block http_basic %}
    include       {{ nginx_mime_file_path }};
    default_type  application/octet-stream;

    server_tokens {{ nginx_server_tokens }};

{% if nginx_more_headers %}
    {{ nginx_more_headers }}
{% endif %}

    types_hash_max_size {{ nginx_types_hash_max_size }};
    types_hash_bucket_size {{ nginx_types_hash_bucket_size }};

    client_max_body_size {{ nginx_client_max_body_size }};

    log_format  main  {{ nginx_log_format|indent(23) }};

    access_log  {{ nginx_access_log }};

    sendfile        {{ nginx_sendfile }};
    tcp_nopush      {{ nginx_tcp_nopush }};
    tcp_nodelay     {{ nginx_tcp_nodelay }};

    keepalive_timeout  {{ nginx_keepalive_timeout }};
    keepalive_requests {{ nginx_keepalive_requests }};
{% endblock %}

{% block http_gzip %}
    gzip on;
    gzip_vary on;
    gzip_types *;
    gzip_proxied any;
    gzip_min_length 1024;
{% endblock %}    

{% block http_brotli %}
{% if nginx_brotli is defined and nginx_brotli %}
    brotli on;
    brotli_types *;
    brotli_min_length 1024;
{% endif %}
{% endblock %}

{% block http_includes %}
    include {{ nginx_proxy_params_file_path }};
    include {{ nginx_conf_path }}/*.conf;
{% if nginx_conf_path != nginx_vhost_path %}
    include {{ nginx_vhost_path }}/*;
{% endif %}
{% endblock %}

    {% block http_end %}{% endblock %}
}