---

services:
  coredns:
    image: coredns/coredns:1.11.1
    container_name: coredns
    volumes:
      - ./Corefile:/home/nonroot/Corefile:ro
    ports:
      - "{{ coredns_private_ip }}:5353:53/udp"
    networks:
      - proxy
    restart: always

networks:
  proxy:
    name: proxy
    external: true