---
#Nginx Configuration

nginx_hsts_redirect: true
nginx_vhosts:
- server_name: "sonarr.{{ local_domain }}"
  state: present
  filename: sonarr.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:8989;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "radarr.{{ local_domain }}"
  state: present
  filename: radarr.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:7878;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "prowlarr.{{ local_domain }}"
  state: present
  filename: prowlarr.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:9696;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "sabnzb.{{ local_domain }}"
  state: present
  filename: sabnzb.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:8080;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "transmission.{{ local_domain }}"
  state: present
  filename: transmission.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:9091;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "tautulli.{{ local_domain }}"
  state: present
  filename: tautulli.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:8181;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "speedtest.{{ local_domain }}"
  state: present
  filename: speedtest.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:8288;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "smokeping.{{ local_domain }}"
  state: present
  filename: smokeping.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:8289;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;
- server_name: "changedetection.{{ local_domain }}"
  state: present
  filename: changedetection.conf
  extra_parameters: |
    set $upstream http://127.0.0.1:5000;
    location / {
      proxy_pass $upstream;
    }
    ssl_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/fullchain.pem;
    ssl_certificate_key /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/privkey.pem;
    ssl_trusted_certificate /opt/homebrew/etc/letsencrypt/live/home.ikgb.me/chain.pem;
    add_header Strict-Transport-Security "max-age=63072000" always;