# {{ ansible_managed }}
{% for override in pihole_dns_overrides %}
address=/{{ override.custom_dns }}/{{ override.ip }}
{% endfor %}
{% for client in pihole_dhcp_reservations %}
{% if client.custom_dns is defined %}
{% for item in client.custom_dns %}
address=/{{ item }}.{{ pihole_pihole_domain }}/{{ client.ip }}
{% endfor %}
{% else %}
address=/{{ client.hostname }}.{{ pihole_pihole_domain }}/{{ client.ip }}
{% endif %}
{% endfor %}