{{ ansible_managed | comment }}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ item.server_name }};
    set $upstream {{ item.upstream }};

    ssl_certificate {{ item.ssl_certificate }};
    ssl_certificate_key {{ item.ssl_key }};
    ssl_trusted_certificate {{ item.ssl_chain }};
        
    include conf.d/ssl.conf;

    location / {
        proxy_pass $upstream;

        {%- if location_extra is defined +%}
        {{ location_extra }}
        {%- endif +%}
    }
}