/var/log/traefik/traefik.log {
    size 5M
    rotate 5
    compress
    delaycompress
    notifempty
    missingok
    create 0644 root root
    postrotate
        cd /home/{{ me.username }} && /usr/bin/sudo -u {{ me.username }} docker compose kill -s USR1 traefik
    endscript
}

/var/log/traefik/access.log {
    monthly
    rotate 12
    compress
    delaycompress
    notifempty
    missingok
    create 0644 root root
    postrotate
        cd /home/{{ me.username }} && /usr/bin/sudo -u {{ me.username }} docker compose kill -s USR1 traefik
    endscript
}