services:

  freshrss:
    image: freshrss/freshrss:latest
    container_name: freshrss
    environment:
      TZ: {{ ntp_timezone }}
      CRON_MIN: 1,31
    volumes:
      - ~/.config/freshrss/data:/var/www/FreshRSS/data
      - ~/.config/freshrss/extensions:/var/www/FreshRSS/extensions
    ports:
      - 8081:80
    restart: unless-stopped
  
  gokapi:
    image: f0rc3/gokapi:latest
    container_name: gokapi
    environment:
      TZ: {{ ntp_timezone }}
    volumes:
      - ~/.local/share/gokapi/data:/app/data
      - ~/.config/gokapi/config:/app/config
    ports:
      - 53842:53842
    restart: unless-stopped
