# {{ ansible_managed }}
addn-hosts=/etc/hosts.custom

localise-queries

no-resolv

{% if dnsmasq_query_logging is defined and dnsmasq_query_logging | bool %}
log-queries
log-facility=/var/log/dnsmasq.log
{% endif %}

log-async
cache-size={{ dnsmasq_cache_size }}

dhcp-name-match=set:hostname-ignore,wpad
dhcp-name-match=set:hostname-ignore,localhost
dhcp-ignore-names=tag:hostname-ignore
server={{ dnsmasq_dns1 }}
server={{ dnsmasq_dns2 }}
{% if dnsmasq_dns_fqdn_required is defined and dnsmasq_dns_fqdn_required | bool %}
domain-needed
{% endif %}
expand-hosts
bogus-priv
{% if dnsmasq_dnssec is defined and dnsmasq_dnssec | bool %}
dnssec
{% endif %}

{% if dnsmasq_listening == 'single' %}
interface={{ dnsmasq_interface }}
{% elif dnsmasq_listening == 'bind' %}
bind-interfaces
{% endif %}
{% if dnsmasq_rev_server is defined and dnsmasq_rev_server | bool %}
rev-server={{ dnsmasq_rev_server_cidr }},{{ dnsmasq_rev_server_target }}
{% endif %}