# {{ ansible_managed }}
# Custom DNS Overrides
{% for override in pihole_dns_overrides %}
address=/{{ override.custom_dns }}/{{ override.ip }}
{% endfor %}
# DHCP Static Clients and Shortnames
{% for client in pihole_dhcp_reservations %}
{% if client.custom_dns is defined %}
{% for item in client.custom_dns %}
address=/{{ item }}.{{ pihole_pihole_domain }}/{{ client.ip }}
{% endfor %}
{% endif %}
address=/{{ client.hostname }}.{{ pihole_pihole_domain }}/{{ client.ip }}
{% endfor %}